<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="cpmSystemApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.paidMoney">Paid Money</span></dt>
        <dd>
          <span>{{ payment.paidMoney }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.paymentForPeriod">Payment For Period</span></dt>
        <dd>
          <span>{{ payment.paymentForPeriod }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.isPayed">Is Payed</span></dt>
        <dd>
          <span>{{ payment.isPayed }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.startedPeriod">Started Period</span></dt>
        <dd>
          <span>{{ payment.startedPeriod | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.finishedPeriod">Finished Period</span></dt>
        <dd>
          <span>{{ payment.finishedPeriod | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.customer">Customer</span></dt>
        <dd>
          <div *ngIf="payment.customer">
            <a [routerLink]="['/customers', payment.customer.id, 'view']">{{ payment.customer.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.service">Service</span></dt>
        <dd>
          <div *ngIf="payment.service">
            <a [routerLink]="['/services', payment.service.id, 'view']">{{ payment.service.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
