<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="cpmSystemApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.paymentForPeriod">Payment For Period</span></dt>
        <dd>
          <span>{{ payment.paymentForPeriod }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ payment.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.isPayed">Is Payed</span></dt>
        <dd>
          <span>{{ payment.isPayed }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.createdAt">Created At</span></dt>
        <dd>
          <span>{{ payment.createdAt | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.user">User</span></dt>
        <dd>
          <div *ngIf="payment.user">
            <a [routerLink]="['/customers', payment.user.id, 'view']">{{ payment.user.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.service">Service</span></dt>
        <dd>
          <div *ngIf="payment.service">
            <a [routerLink]="['/services', payment.service.id, 'view']">{{ payment.service.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.payment.group">Group</span></dt>
        <dd>
          <div *ngIf="payment.group">
            <a [routerLink]="['/groups', payment.group.id, 'view']">{{ payment.group.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
