<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="services">
      <h2 data-cy="servicesDetailsHeading"><span jhiTranslate="cpmSystemApp.services.detail.title">Services</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ services.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.services.name">Name</span></dt>
        <dd>
          <span>{{ services.name }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.services.price">Price</span></dt>
        <dd>
          <span>{{ services.price }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.services.startedPeriod">Started Period</span></dt>
        <dd>
          <span>{{ services.startedPeriod | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.services.periodType">Period Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'cpmSystemApp.PeriodType.' + services.periodType }}">{{ services.periodType }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.services.countPeriod">Count Period</span></dt>
        <dd>
          <span>{{ services.countPeriod }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.services.group">Group</span></dt>
        <dd>
          <div *ngIf="services.group">
            <a [routerLink]="['/groups', services.group.id, 'view']">{{ services.group.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/services', services.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
