<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="botToken">
      <h2 data-cy="botTokenDetailsHeading"><span jhiTranslate="cpmSystemApp.botToken.detail.title">Bot Token</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ botToken.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.botToken.username">Username</span></dt>
        <dd>
          <span>{{ botToken.username }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.botToken.telegramId">Telegram Id</span></dt>
        <dd>
          <span>{{ botToken.telegramId }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.botToken.token">Token</span></dt>
        <dd>
          <span>{{ botToken.token }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.botToken.createdBy">Created By</span></dt>
        <dd>
          <span>{{ botToken.createdBy?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bot-token', botToken.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
