<div>
  <h2 id="page-heading" data-cy="TelegramEntityHeading">
    <span jhiTranslate="cpmSystemApp.telegramEntity.home.title">Telegram Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cpmSystemApp.telegramEntity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-telegram-entity"
        [routerLink]="['/telegram-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cpmSystemApp.telegramEntity.home.createLabel"> Create a new Telegram Entity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="telegramEntities?.length === 0">
    <span jhiTranslate="cpmSystemApp.telegramEntity.home.notFound">No Telegram Entities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="telegramEntities && telegramEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isBot">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.isBot">Is Bot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstname">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.firstname">Firstname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastname">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.lastname">Lastname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="username">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telegramId">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.telegramId">Telegram Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="canJoinGroups">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.canJoinGroups">Can Join Groups</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="languageCode">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.languageCode">Language Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.isActive">Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="cpmSystemApp.telegramEntity.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let telegramEntity of telegramEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/telegram-entity', telegramEntity.id, 'view']">{{ telegramEntity.id }}</a>
          </td>
          <td>{{ telegramEntity.isBot }}</td>
          <td>{{ telegramEntity.firstname }}</td>
          <td>{{ telegramEntity.lastname }}</td>
          <td>{{ telegramEntity.username }}</td>
          <td>{{ telegramEntity.telegramId }}</td>
          <td>{{ telegramEntity.canJoinGroups }}</td>
          <td>{{ telegramEntity.languageCode }}</td>
          <td>{{ telegramEntity.isActive }}</td>
          <td>
            {{ telegramEntity.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/telegram-entity', telegramEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/telegram-entity', telegramEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(telegramEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
