<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-telegram-entity-heading"
        data-cy="TelegramEntityCreateUpdateHeading"
        jhiTranslate="cpmSystemApp.telegramEntity.home.createOrEditLabel"
      >
        Create or edit a Telegram Entity
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.isBot" for="field_isBot">Is Bot</label>
          <input type="checkbox" class="form-check" name="isBot" id="field_isBot" data-cy="isBot" formControlName="isBot" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.firstname" for="field_firstname">Firstname</label>
          <input type="text" class="form-control" name="firstname" id="field_firstname" data-cy="firstname" formControlName="firstname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.lastname" for="field_lastname">Lastname</label>
          <input type="text" class="form-control" name="lastname" id="field_lastname" data-cy="lastname" formControlName="lastname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.telegramId" for="field_telegramId">Telegram Id</label>
          <input
            type="number"
            class="form-control"
            name="telegramId"
            id="field_telegramId"
            data-cy="telegramId"
            formControlName="telegramId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.canJoinGroups" for="field_canJoinGroups"
            >Can Join Groups</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="canJoinGroups"
            id="field_canJoinGroups"
            data-cy="canJoinGroups"
            formControlName="canJoinGroups"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.languageCode" for="field_languageCode">Language Code</label>
          <input
            type="text"
            class="form-control"
            name="languageCode"
            id="field_languageCode"
            data-cy="languageCode"
            formControlName="languageCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.telegramEntity.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
