<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-services-heading" data-cy="ServicesCreateUpdateHeading" jhiTranslate="cpmSystemApp.services.home.createOrEditLabel">
        Create or edit a Services
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.services.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.services.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('price')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 10000 }"
            >
              This field should be at least 10000.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.services.startedPeriod" for="field_startedPeriod">Started Period</label>
          <div class="input-group">
            <input
              id="field_startedPeriod"
              data-cy="startedPeriod"
              type="text"
              class="form-control"
              name="startedPeriod"
              ngbDatepicker
              #startedPeriodDp="ngbDatepicker"
              formControlName="startedPeriod"
            />
            <button type="button" class="btn btn-secondary" (click)="startedPeriodDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('startedPeriod')!.invalid && (editForm.get('startedPeriod')!.dirty || editForm.get('startedPeriod')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startedPeriod')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.services.periodType" for="field_periodType">Period Type</label>
          <select class="form-control" name="periodType" formControlName="periodType" id="field_periodType" data-cy="periodType">
            <option [ngValue]="null">{{ 'cpmSystemApp.PeriodType.null' | translate }}</option>
            <option *ngFor="let periodType of periodTypeValues" [value]="periodType">
              {{ 'cpmSystemApp.PeriodType.' + periodType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('periodType')!.invalid && (editForm.get('periodType')!.dirty || editForm.get('periodType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('periodType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.services.countPeriod" for="field_countPeriod">Count Period</label>
          <input
            type="number"
            class="form-control"
            name="countPeriod"
            id="field_countPeriod"
            data-cy="countPeriod"
            formControlName="countPeriod"
          />
          <div *ngIf="editForm.get('countPeriod')!.invalid && (editForm.get('countPeriod')!.dirty || editForm.get('countPeriod')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('countPeriod')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('countPeriod')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('countPeriod')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.services.group" for="field_group">Group</label>
          <select class="form-control" id="field_group" data-cy="group" name="group" formControlName="group" [compareWith]="compareGroups">
            <option [ngValue]="null"></option>
            <option [ngValue]="groupsOption" *ngFor="let groupsOption of groupsSharedCollection">{{ groupsOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
