<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customers">
      <h2 data-cy="customersDetailsHeading"><span jhiTranslate="cpmSystemApp.customers.detail.title">Customers</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customers.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.fullName">Full Name</span></dt>
        <dd>
          <span>{{ customers.fullName }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.username">Username</span></dt>
        <dd>
          <span>{{ customers.username }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.password">Password</span></dt>
        <dd>
          <span>{{ customers.password }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ customers.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.email">Email</span></dt>
        <dd>
          <span>{{ customers.email }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.account">Account</span></dt>
        <dd>
          <span>{{ customers.account }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.role">Role</span></dt>
        <dd>
          <div *ngIf="customers.role">
            <a [routerLink]="['/role', customers.role.id, 'view']">{{ customers.role.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.groups">Groups</span></dt>
        <dd>
          <span *ngFor="let groups of customers.groups; let last = last">
            <a [routerLink]="['/groups', groups.id, 'view']">{{ groups.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.customers.services">Services</span></dt>
        <dd>
          <span *ngFor="let services of customers.services; let last = last">
            <a [routerLink]="['/services', services.id, 'view']">{{ services.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/customers', customers.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
