<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="telegramGroup">
      <h2 data-cy="telegramGroupDetailsHeading"><span jhiTranslate="cpmSystemApp.telegramGroup.detail.title">Telegram Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ telegramGroup.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramGroup.name">Name</span></dt>
        <dd>
          <span>{{ telegramGroup.name }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramGroup.chatId">Chat Id</span></dt>
        <dd>
          <span>{{ telegramGroup.chatId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/telegram-group', telegramGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
