<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="telegramEntity">
      <h2 data-cy="telegramEntityDetailsHeading"><span jhiTranslate="cpmSystemApp.telegramEntity.detail.title">Telegram Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ telegramEntity.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.isBot">Is Bot</span></dt>
        <dd>
          <span>{{ telegramEntity.isBot }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.firstname">Firstname</span></dt>
        <dd>
          <span>{{ telegramEntity.firstname }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.lastname">Lastname</span></dt>
        <dd>
          <span>{{ telegramEntity.lastname }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.username">Username</span></dt>
        <dd>
          <span>{{ telegramEntity.username }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.telegramId">Telegram Id</span></dt>
        <dd>
          <span>{{ telegramEntity.telegramId }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.canJoinGroups">Can Join Groups</span></dt>
        <dd>
          <span>{{ telegramEntity.canJoinGroups }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.languageCode">Language Code</span></dt>
        <dd>
          <span>{{ telegramEntity.languageCode }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.isActive">Is Active</span></dt>
        <dd>
          <span>{{ telegramEntity.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="cpmSystemApp.telegramEntity.user">User</span></dt>
        <dd>
          <span>{{ telegramEntity.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/telegram-entity', telegramEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
