<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-telegram-heading"
        data-cy="CustomerTelegramCreateUpdateHeading"
        jhiTranslate="cpmSystemApp.customerTelegram.home.createOrEditLabel"
      >
        Create or edit a Customer Telegram
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.isBot" for="field_isBot">Is Bot</label>
          <input type="checkbox" class="form-check" name="isBot" id="field_isBot" data-cy="isBot" formControlName="isBot" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.firstname" for="field_firstname">Firstname</label>
          <input type="text" class="form-control" name="firstname" id="field_firstname" data-cy="firstname" formControlName="firstname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.lastname" for="field_lastname">Lastname</label>
          <input type="text" class="form-control" name="lastname" id="field_lastname" data-cy="lastname" formControlName="lastname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.telegramId" for="field_telegramId">Telegram Id</label>
          <input
            type="number"
            class="form-control"
            name="telegramId"
            id="field_telegramId"
            data-cy="telegramId"
            formControlName="telegramId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.step" for="field_step">Step</label>
          <input type="number" class="form-control" name="step" id="field_step" data-cy="step" formControlName="step" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.canJoinGroups" for="field_canJoinGroups"
            >Can Join Groups</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="canJoinGroups"
            id="field_canJoinGroups"
            data-cy="canJoinGroups"
            formControlName="canJoinGroups"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.languageCode" for="field_languageCode">Language Code</label>
          <input
            type="text"
            class="form-control"
            name="languageCode"
            id="field_languageCode"
            data-cy="languageCode"
            formControlName="languageCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpmSystemApp.customerTelegram.customer" for="field_customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomers"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="customersOption" *ngFor="let customersOption of customersSharedCollection">{{ customersOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="cpmSystemApp.customerTelegram.telegramGroup" for="field_telegramGroups">Telegram Group</label>
          <select
            class="form-control"
            id="field_telegramGroups"
            data-cy="telegramGroup"
            multiple
            name="telegramGroups"
            formControlName="telegramGroups"
            [compareWith]="compareTelegramGroup"
          >
            <option [ngValue]="telegramGroupOption" *ngFor="let telegramGroupOption of telegramGroupsSharedCollection">
              {{ telegramGroupOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
